
PORT=3000


DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_oauth?schema=public"


GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect


JWT_SECRET=cambiar-por-una-clave-secreta-larga